body{
  background-image: url(background.jpg);
  background-size: 100%;
}
#opaco{
  border-radius: 20px;
  border: 1px black;
  padding: 50px;
  margin-left: 18.5%;
  margin-right: 18.5%;
  margin-top: 1.5%;
  background-color: rgba(0,0,0,0.5);
  padding: 5%;
  padding-bottom: 7%;
  box-sizing: content-box;
}
img{
  width: 25%;
}
header{
  display: block;
  text-align: center;
}
h1{
  color: #00DD00;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 8px;
  word-spacing: 0%;
  font-size: 30px;
}
nav{
  background-color: #00DD00;
  padding: 12px;
  display: inline block;
  box-sizing: content-box;
  text-align: center;
}
.check{
  margin-left: 8px;
}
h2{
  color: white;
  display: inline-block;
  spacing:0;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  letter-spacing: 0px;
  line-height: 0%;
  margin-bottom: 5px;
  margin-top: 40px;
}
.carica{
  display: block;
  height:30px;
  border-radius: 5px;
}
.gialla{
  border:1px solid #F5B453;
  background-color: #F5B453;
  display: block;
  width: 35%;
}
.verde{
  border:1px solid #1EC31E;
  background-color: #1EC31E;
  display: block;
  width: 60%;}
.rossa{
  border:1px solid #BE4141;
  background-color: #BE4141;
  display: block;
  width: 15%;
}
h4{
  color: white;
  display: block;
  spacing:0;
  line-height: 0%;
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  letter-spacing: 0px;
  margin-bottom: 12px;
}
.spazio{
  line-height: 8px;
  margin: 0px;
  padding: 0px;
}
